body {
    font-family: "DM Sans", Arial, Tahoma, sans-serif;
    overflow-x: hidden;
    --violet: #583d72;
    --purple: #9f5f80;
    --beige: #ffba93;
    --orange: #ff8e71;
}

body:hover {
    cursor: default;
}

::selection {
    background-color: var(--orange);
    color: #fff;
}

.spa {
    height: 100vh;
    width: 100vw;
    background-color: var(--violet);
    padding-top: 50px;
}
.btn-group {
    width: 50%;
    text-align: center;
    margin: auto;
}
h1 {
    color: #fff;
}
p {
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
}
.rep {
 font-size: 20px;
 color: var(--purple);
}
.rep:hover {
    opacity: .7;
}
.btn {
    margin-right: 10px;
    background: var(--beige);
    font-weight: 700;
    text-transform: uppercase;
}
.btn:hover {
    background: var(--orange);
}
.btn:focus {
    background: var(--orange);
    box-shadow: none;
}
.input-group {
    margin-top: 30px;
}
.user {
    margin-top: 50px;
    border-radius: 80px;
    background-color: var(--orange);
    position: relative;
    display: flex;
    width: 300px;
    min-height: 300px;
    width: 100%;
    transition: .4s;
}
.user.repositor {
    border-radius: 20px;
    padding: 20px;
}
.user .avatar {
    width: 300px;
    height: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.loader.active {
    visibility: visible;
}
.url {
    color: var(--purple);
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    transition: .4s;
}
.url:hover {
    color: var(--violet);
}
.reps {
    display: flex;
    flex-direction: column;
    
    margin-left: 50px;
}
.reps .rep {
    color: var(--beige);
}
a {
    display: block;
    margin-left: 60px;
}
a.url {
    display: inline;
}
.rep {
    margin-left: 60px;
}
p {
    margin-left: 60px;
}